<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h2>This is what you have submitted, thus far:</h2>
    <div class="wish-wrapper">
      <div class="wish-spot">
        {{#each wishes}}
          <div class=" ">
            {{title}} - {{wish}}
          </div>
        {{/each}}
      </div>
      <div class="wish-img">
      </div>
    </div>
    <div class="bottom-wrapper2">
      <p>They don't come true if anyone else knows.........<a href="/reset">Reset
      </a></p>
         <h1>{{empty}}</h1>
      </div>
  </div>
  <footer>
    <small>&copy; BMF,  2017</small>
    <span class="well_ico"></span>
    <address>Denver, Colorado</address>
  </footer>
  </body>

</html>
